CompradepassagemTest.java
FTS142 - Matriz de Risco - Blazedemo.xlsx
Saucedemo.side
SaucedemoTest.java
Técnicas de Teste.xlsx
XTSessionReport - Test & Feedback - Extensão - Chrome.html
blazedemo ide/pom.xml
blazedemo ide/.vscode/settings.json
blazedemo ide/src/main/java/com/blazemeter/Main.java
blazedemo ide/target/classes/com/blazemeter/Main.class
blazedemo ide/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
blazedemo ide/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
blazedemo ide/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
blazedemo ide/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
blazedemo ide/target/test-classes/CompradepassagemTest.class

#fim
.gitignore
